{% load static %}

<html lang="en">
    <head>    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
        <!--Replace with your tailwind.css once created-->
        <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />
    
        <style>
          .gradient {
            background: linear-gradient(90deg, #170d6d 0%, #daae51 100%); 
          }
        </style>
        
        {% block extra_head %}{% endblock extra_head %}
        <title>{% block title %}{% endblock title %}</title>
      </head>

      <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
        {% block navbar %} {% endblock navbar %}
        
      <!--Main-->
   
        <!--Left Col-->
        {% block left_sidebar %} {% endblock left_sidebar %}
        <!--Right Col-->
        {% block right_sidebar %} {% endblock right_sidebar %}
            <!--FOOTER-->
        {% block footer %} {% endblock footer %}
    
    
     
    </body>

</html>